.user-address {
  text-align: center;
}

.ui.button {
  background-color:rgba(242, 198, 23, 0.2);
  color: #eb472c;
  height: 50px;
  opacity: 0%;
}

.ui.centered.card {
  width: 33%;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}